<div class="bg-gray-100 py-10">
  <div class="max-w-2xl mx-auto sm:px-2 lg:px-4">
    <div class="flex flex-col items-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-6">Appointment</h2>
      <div class="mb-8">
        <h4 class="text-lg font-semibold text-gray-800 mb-2 text-center">Hurghada Branch</h4>
        <p class="text-gray-600 text-center">
          Egypt, Hurghada, Sheraton street, left from supermarket Metro, 3rd floor<br />
          Tel: +201140809933<br />
        </p>
        <div class="mt-4 overflow-hidden">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1254.4501034367458!2d33.83876134956821!3d27.21536004924772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1452870045387149%3A0x93925452d6ceba88!2sDr.%20Ezzy%20Dental%20Center!5e0!3m2!1sen!2seg!4v1683384859334!5m2!1sen!2seg"
            width="100%"
            height="400"
            style="border: 0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="mb-8">
        <h4 class="text-lg font-semibold text-gray-800 mb-2 text-center">Safaga Branch</h4>
        <p class="text-gray-600 text-center">
          Egypt, Safaga, Nasir street, right from supermarket Beraq, 1st floor<br />
          Tel: +201286251585<br />
        </p>
        <div class="mt-4 overflow-hidden">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3562.572055391137!2d33.9398779!3d26.758029200000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x144d72e641e1424b%3A0x25b0dcc7d1e82257!2z2LnZitin2K_YqSDYry8g2LnYsiDYp9mE2K_ZitmGINin2YTYtNix2YrZgSBEci5FenogY2xpbmlj!5e0!3m2!1sen!2seg!4v1684591531703!5m2!1sen!2seg"
            width="100%"
            height="400"
            style="border: 0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
