<!-- ------------------------------------------------------------------------------------- -->
<div class="bg-gradient-to-r from-[#c6dc72] to-[#35907b]">
  <img src="../../../assets/Billboard_transparent.png" alt="" />
</div>
<h3 class="text-blue-500">Your Perfect Smile Starts Here</h3>
<div class="mt-8">
  <button
    class="px-8 py-4 text-lg font-semibold text-gray-900 transition-colors duration-300 border-2 border-blue-500 rounded-lg hover:bg-blue-500 hover:text-white"
  >
    Book Appointment
  </button>
</div>
<app-our-services></app-our-services>
<!-- <section id="services" class="py-16 bg-gray-100">
  <h1 class="mb-10 text-4xl text-center text-gray-800">Our Services</h1>
  <div class="container grid grid-cols-1 gap-8 mx-auto md:grid-cols-2 lg:grid-cols-3">
    <div class="p-6 bg-white rounded-lg shadow-md service">
      <i class="mb-4 text-3xl text-blue-500 fas fa-tooth"></i>
      <h2 class="mb-2 text-xl font-semibold text-gray-800">Teeth Whitening</h2>
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
      </p>
    </div>
    <div class="p-6 bg-white rounded-lg shadow-md service">
      <i class="mb-4 text-3xl text-blue-500 fas fa-toothbrush"></i>
      <h2 class="mb-2 text-xl font-semibold text-gray-800">Dental Implants</h2>
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
      </p>
    </div>
    <div class="p-6 bg-white rounded-lg shadow-md service">
      <i class="mb-4 text-3xl text-blue-500 fas fa-smile"></i>
      <h2 class="mb-2 text-xl font-semibold text-gray-800">Cosmetic Dentistry</h2>
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
      </p>
    </div>
  </div>
</section> -->
<!-- -----------------------------------------card slider----------------------------------- -->
