<nav class="bg-gradient-to-r from-[#c6dc72] to-[#35907b] shadow-lg fixed w-full z-20 top-0 left-0">
  <!-- <nav class="fixed top-0 left-0 z-20 w-full shadow-lg"> -->
  <div class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto">
    <a href="#" class="flex items-center justify-between">
      <img src="../../../assets/Dr.Ezzy_white.png" class="h-12" alt="Dr.Ezzy" />
      <span class="ml-4 text-3xl font-semibold text-white whitespace-nowrap text-shadow">Dr.Ezzy</span>
    </a>
    <div class="flex md:order-2">
      <a
        *ngIf="currentScreenSize == SCREEN_SIZE.MD ||currentScreenSize == SCREEN_SIZE.LG || currentScreenSize ==  SCREEN_SIZE.XL "
        type="button"
        routerLink="contact-us"
        class="p-2 text-sm font-medium text-center text-white rounded-lg bg-ezzyPrimaryFont hover:bg-orange-400"
      >
        {{appDictionary.header.appointment | translate}}
      </a>

      <img
        *ngIf="currentScreenSize == SCREEN_SIZE.SM"
        type="button"
        routerLink="contact-us"
        class="h-10 p-2 text-sm font-medium text-center text-white rounded-lg bg-ezzyPrimaryFont hover:bg-orange-400"
        src="../../../assets/Icons/Appointment Time.svg"
        alt="Book an appointment"
      />
      <div
        (click)="toggleMobileMenu()"
        class="inline-flex items-center justify-center p-2 text-lg text-white rounded-lg cursor-pointer hover:text-orange-400 md:hidden"
      >
        <i [class]="mobileMenuOpen ?  'fa fa-times'  :'fas fa-bars' "></i>
      </div>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      [ngClass]="{ 'block': mobileMenuOpen, 'hidden': !mobileMenuOpen }"
      id="navbar-sticky"
    >
      <ul
        class="flex flex-col items-center justify-center p-4 mt-4 font-medium md:p-0 md:flex-row md:space-x-8 md:mt-0"
      >
        <li>
          <a
            [class.active]="activeElement === 'land-page'"
            (click)="navigateToAnchorTag('land-page')"
            class="text-white cursor-pointer hover:text-orange-400"
          >
            {{appDictionary.header.home | translate}}
          </a>
        </li>
        <li>
          <a
            [class.active]="activeElement === 'about-us'"
            (click)="navigateToAnchorTag('about-us')"
            class="text-white cursor-pointer hover:text-orange-400"
          >
            {{appDictionary.header.aboutUs | translate}}
          </a>
        </li>
        <li>
          <a
            [class.active]="activeElement === 'our-services'"
            (click)="navigateToAnchorTag('our-services')"
            class="text-white cursor-pointer hover:text-orange-400"
          >
            {{appDictionary.header.ourServices | translate}}
          </a>
        </li>
        <li>
          <a
            (click)="resetActiveLink()"
            routerLink="work-examples"
            routerLinkActive="active"
            class="text-white cursor-pointer hover:text-orange-400"
          >
            {{appDictionary.header.workExamples | translate}}
          </a>
        </li>
        <li>
          <a
            (click)="resetActiveLink()"
            routerLink="medical-tourism"
            routerLinkActive="active"
            class="text-white cursor-pointer hover:text-orange-400"
          >
            {{appDictionary.header.medicalTourism | translate}}
          </a>
        </li>
        <li>
          <a
            (click)="resetActiveLink()"
            routerLink="insurance"
            routerLinkActive="active"
            class="text-white cursor-pointer hover:text-orange-400"
          >
            {{appDictionary.header.insurance | translate}}
          </a>
        </li>
        <!-- new Language -->
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="text-white mat-18">language</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="selectLanguage('en')">
            {{ appDictionary.language.en| translate }}
          </button>
          <button mat-menu-item (click)="selectLanguage('gr')">
            {{ appDictionary.language.gr | translate }}
          </button>
          <button mat-menu-item (click)="selectLanguage('rs')">
            {{ appDictionary.language.rs | translate }}
          </button>
        </mat-menu>
      </ul>
    </div>
  </div>
</nav>
