<div class="text-xl text-gray-700 text-center">{{ dentalCase.title }}</div>
<img-comparison-slider class="slider-with-animated-handle rendered rounded-xl shadow-2xl border-none" tabindex="0">
  <img slot="first" [src]="dentalCase.beforeImageSrc" />
  <img slot="second" [src]="dentalCase.afterImageSrc" />
  <svg slot="handle" class="custom-animated-handle" xmlns="http://www.w3.org/2000/svg" width="100" viewBox="-8 -3 16 6">
    <path
      stroke="#fff"
      d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2"
      stroke-width="1"
      fill="#fff"
      vector-effect="non-scaling-stroke"
    ></path>
  </svg>
</img-comparison-slider>
