<div class="bg-gray-300">
  <h3 class="text-[#096568] py-10 uppercase text-center text-2xl md:text-4xl lg:text-6xl">
    Ezzy Dental Clinic
  </h3>
  <div class="flex justify-between items-center">
    <img src="../../../assets/ezz personal image.png" />
    <div class="mr-20">
      <div class="hidden space-x-4 justify-center md:flex">
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Professional Dental Care</div>
            <p class="text-gray-700 text-base">
              When you are looking for a dentist in Hurghada or Safaga, you want a professional with experience and a
              track record of excellence. We have a reputation in the area for being the very best and specialize in
              making your oral health the priority. Our specialist was educated in Edinburgh University, Scotland, UK.
            </p>
          </div>
          <div class="px-6 pt-4 pb-2">
            <p class="text-gray-700 text-base">
              Having a perfect smile will enhance not only your physical appearance, but also give you a lot more
              confidence. You should not put off dental procedures for any reason. You can have peace of mind knowing
              that you are in good hands when you visit one of our dental clinics. Professional dental care that meets
              the highest standards within the industry is attainable by scheduling an appointment.
            </p>
          </div>
        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Patient Satisfaction</div>
            <p class="text-gray-700 text-base">
              We strive to provide dental services that leave you satisfied and pleased with your overall experience.
              You can expect professional and friendly care every time that you visit our dental clinic. It is our goal
              to provide dental services that are affordable, high quality and deliver real results.
            </p>
          </div>
          <div class="px-6 pt-4 pb-2">
            <p class="text-gray-700 text-base">
              Oral health is not something that you should take lightly and our mission is to make oral health more of a
              priority.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
