<div class="bg-gray-100 pt-10">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col items-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-6">{{appDictionary.global.insurance | translate}}</h2>
      <p class="text-gray-600 text-center mb-8">
        We at Dr. Ezzy Dental Clinic accept most of the major insurance companies' cards, on a direct billing basis.
        This includes all approved Medical and Dental services. However, where no direct settlement facility is
        available, all patients will be assisted in processing the required documentation to submit their claims.
      </p>
      <p class="text-gray-600 text-center mb-8">
        We have direct billing agreements with the following insurance companies, Third Party Administrators, and
        Corporate Partners. Please note that terms and conditions might apply for certain policies.
      </p>
      <div class="flex justify-center shadow-2xl">
        <img
          src="../../../assets/work-examples/chair-dentist_3J10QN5PTS.jpg"
          alt="Insurance"
          class="h-full rounded-lg shadow-lg"
        />
      </div>
      <p class="text-gray-600 text-center mt-8">
        Contact our office to learn more about the insurance companies we work with and the coverage options available.
      </p>
    </div>
  </div>
</div>
