<div *ngIf="dentalService;else loading" class="mx-20">
  <h3>{{ dentalService.title }}</h3>
  <ng-container *ngFor="let paragraph of dentalService.description">
    <div [ngSwitch]="paragraph.style">
      <p *ngSwitchCase="ParagraphStyle.Default" [ngClass]="paragraph.tailwindClasses">
        {{ paragraph.text }}
      </p>
      <h4 *ngSwitchCase="ParagraphStyle.Heading" [ngClass]="paragraph.tailwindClasses">
        {{ paragraph.text }}
      </h4>
      <ul *ngSwitchCase="ParagraphStyle.BulletList" [ngClass]="paragraph.tailwindClasses">
        <li *ngFor="let subParagraph of paragraph.subParagraphs">{{ subParagraph.text }}</li>
      </ul>
      <ol *ngSwitchCase="ParagraphStyle.NumberedList" [ngClass]="paragraph.tailwindClasses">
        <li *ngFor="let subParagraph of paragraph.subParagraphs">{{ subParagraph.text }}</li>
      </ol>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
